@font-face {
    font-family: 'pretendo';
    src: url('../fonts/pretendo.woff2') format('woff2'),
         url('../fonts/pretendo.woff') format('woff'),
         url('../fonts/pretendo.ttf')  format('truetype');
  }
  
@font-face {
    font-family: 'Handjet';
    src: url('../fonts/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf') format('truetype');
}